TZ=your area info
SPRING_PROFILES_ACTIVE=prd

MINIO_ROOT_USER=yours
MINIO_ROOT_PASSWORD=yours

SPRING_NEO4J_URI=yours
NEO4J_USERNAME=yours
NEO4J_PASSWORD=yours

#openAI
OPENAI_API_KEY=yours

JAVA_TOOL_OPTIONS="yours"




