TZ=your_config
SPRING_PROFILES_ACTIVE=your_config

MINIO_ROOT_USER=your_config
MINIO_ROOT_PASSWORD=your_config

NEO4J_USERNAME=your_config
NEO4J_PASSWORD=your_config

#openAI
OPENAI_API_KEY=your_config

JAVA_TOOL_OPTIONS=-Xms256m -Xmx768m




