HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# ===== Maven =====
target/

# ===== Neo4j runtime data (MUST NOT COMMIT) =====
neo4j/data/
neo4j/logs/
neo4j/import/
neo4j/plugins/

neo4j/data
milvus
minio/data
etcd

minio/data/
milvus/data/
etcd/data/
minio/
milvus/
etcd/
neo4j/
*.meta
*.wal
*.sst

# ===== IDE =====
.idea/
*.iml


.env

app.jar